In [1]:
import pandas as pd

In [2]:
import numpy as np

**Perkenalan**

Nama        =   Firza Ibrahim K. 
Pesertas    =   FTDS10
Akun Github =   https://github.com/firzaibrahim

**A. Menghitung Hambatan/ Resistensi & Daya setiap detik**

**A.1 Import Pustaka yang Dibutuhkan**

In [7]:
pd.read_excel('NMC1-9.xlsx')

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

**A.2 Data Loading**

In [8]:
df = pd.read_excel('NMC1-9.xlsx')

In [9]:
df.shape

(90982, 5)

In [10]:
df.shape[0]

90982

In [11]:
df.shape[1]

5

In [12]:
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

**A.3 Answer**

Dengan Rumus :

R = V/I (Menghitung Hambatan/Resistensi setiap Detik)
P = V.I (Menghitung Data setiap Detik)

In [27]:
df = pd.read_excel('NMC1-9.xlsx')
V = V_m
I = Current (A)

    print(f"{V} X {I}")

IndentationError: unexpected indent (Temp/ipykernel_9240/396777317.py, line 5)

In [28]:
df = pd.read_excel('NMC1-9.xlsx')
V = V_m
I = Current (A)

    print(f"{V} / {I}")

IndentationError: unexpected indent (Temp/ipykernel_9240/2994470680.py, line 5)

**A.4 Hasil**

Syntax Error